@model HRFlow.Web.Models.LeaveType.LeaveTypeEditViewModel


<h2>İzin Türünü Düzenle</h2>

<form asp-action="Edit" method="post">
    <input asp-for="LeaveType.Id" type="hidden" />
    <div class="mb-3">
        <label>İzin Adı</label>
        <input asp-for="LeaveType.Name" class="form-control" />
        <span asp-validation-for="LeaveType.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LeaveType.DefaultDays" class="form-label">
            İzin Süresi (Gün)
        </label>

        <input asp-for="LeaveType.DefaultDays"
               type="number"
               min="0"
               class="form-control" />

        <span asp-validation-for="LeaveType.DefaultDays"
              class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="LeaveType.IsPaid"
               class="form-check-input" />

        <label asp-for="LeaveType.IsPaid"
               class="form-check-label">
            Ücretli İzin
        </label>
    </div>
    <button class="btn btn-primary">
        Kaydet
    </button>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}