@model List<HRFlow.Business.DTOs.LeaveType.LeaveTypeListDto>


<div class="card-header">
    <div class="row align-items-center">

        <div class="col">
            <h3 class="card-title mb-0">İzin Türleri</h3>
        </div>

        <div class="col-auto">
            <a asp-action="Create" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i>
                Yeni İzin Türü
            </a>
        </div>

    </div>
</div>

<div class="card-body p-0">

    <table id="leaveTypeTable" class="table table-bordered table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>İzin Adı</th>
                <th>Varsayılan Gün</th>
                <th>Ücretli mi?</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DefaultDays</td>
                    <td>
                        @if (item.IsPaid)
                        {
                            <span class="badge text-bg-success">Ücretli</span>
                        }
                        else
                        {
                            <span class="badge text-bg-danger">Ücretsiz</span>
                        }
                    </td>

                    <td class="text-center">

                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning btn-sm me-1">

                            <i class="bi bi-pencil-square"></i>
                            Düzenle

                        </a>

                        <form asp-action="Delete"
                              asp-route-id="@item.Id"
                              method="post"
                              class="d-inline delete-form">

                            <button type="submit"
                                    class="btn btn-danger btn-sm">

                                <i class="bi bi-trash"></i>
                                Sil

                            </button>

                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>


</div>


@section Scripts
{
    <script>
        initializeDataTable('#leaveTypeTable', {

            columnDefs: [

                { width: "40%", targets: 0 }, // İzin Adı

                { width: "25%", targets: 1 }, // İzin Süresi

                { width: "20%", targets: 2 }, // Ücretli mi?

                {
                    width: "15%",
                    targets: 3,
                    orderable: false
                }

            ]

        });
        document.querySelectorAll(".delete-form").forEach(form => {

            form.addEventListener("submit", function (e) {

                e.preventDefault();

                Swal.fire({
                    title: "Emin misiniz?",
                    text: "Bu departman silinecek.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Evet, Sil",
                    cancelButtonText: "İptal",
                    reverseButtons: true
                }).then((result) => {

                    if (result.isConfirmed) {
                        form.submit();
                    }

                });

            });

        });
    </script>
}