<footer class="app-footer">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline">İnsan Kaynakları Yönetim Sistemi</div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
        Copyright &copy; 2026&nbsp;
        <a href="#" class="text-decoration-none">HRFlow-EMS</a>.
    </strong>
    Bütün hakları saklıdır.
    <!--end::Copyright-->
</footer>