html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*buradan sonrasý kendi eklediklerim*/
.dt-layout-row {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.dt-container .dt-layout-row:first-child {
    margin-bottom: 12px;
}

div.dt-container .dt-layout-row:last-child {
    margin-top: 12px;
}

div.dt-search input {
    width: 220px;
    margin-right: 10px;
}
.dt-length {
    margin-left: 10px;
}
.dt-info {
    margin-left: 10px;
}
.dt-paging {
    padding-right: 10px;
}
.table td:last-child,
.table th:last-child {
    white-space: nowrap;
    text-align: center;
}
    .table td:last-child .btn {
        min-width: 70px;
    }

.app-main {
    height: auto !important;
}
.app-wrapper {
    min-height: auto !important;
}
.dashboard-card-link {
    text-decoration: none;
    display: block;
    color: inherit;
}

    .dashboard-card-link:hover {
        color: inherit;
    }
.small-box {
    transition: all .20s ease;
}

.dashboard-card-link:hover .small-box {
    transform: translateY(-4px);
    box-shadow: 0 .6rem 1.2rem rgba(0,0,0,.25);
}
.dashboard-card-link {
    cursor: pointer;
}